<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Verify Triangle" parallel="true" thread-count="2">
    <test name="positive tests">
        <classes>
            <class name="tstPositiveVerifyTriangle"></class>
        </classes>
    </test>

    <test name="negative tests">
        <classes>
            <class name="tstNegativeVerifyTriangle"></class>
        </classes>
    </test>
</suite>
